// Define variables
$primary-color: pink;
$secondary-color: lightblue;
$tertiary-color: lightgreen;

$primary-text-color: white;
$secondary-text-color: darkblue;
$tertiary-text-color: darkgreen;

$border-radius: 10px;
$padding: 20px;
$font-size-large: 20px;
$font-size-medium: 18px;
$font-size-small: 16px;


@mixin box($width, $height, $background-color, $text-color, $font
