
$has-border: true;


@mixin box($width, $height, $background-color) {
    width: $width;
    height: $height;
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 

    @if $has-border {
        border: 2px solid black; 
    }
}

.pink-box {
    @include box(200px, 200px, pink);
    color: white; 
    font-size: 20px; 
}