.box1 {
  margin-top: 21px; }

.box2 {
  margin-top: 4 px;
  background-color: #1a1a1a;
  height: 100px;
  width: 100px; }

.box3 {
  margin: 6px;
  margin-bottom: 7px;
  background-color: #b53333;
  height: 100px;
  width: 100px; }
