$map:("bold":800, 'regular':500, 'mediam':600);
$map1:("bbb":800, 'regular':500, 'mediam':600);
$merg:map-merge($map, $map1 );
.box1{
    font-weight: map-get($map ,'bold' );
}

.box2{
    font-weight: map-keys($map);
}

.box3{
  font-weight: map-keys($merg);
}