.ft{
    background-color: rgb(70, 67, 67);
    color: white;
    padding: 20px;
    .row{
        display: flex;
        
        gap: 10px;
        .col{
            width: 30%;
            border: 2px solid red;
            .post{
                    li{
                        display: flex;
                        .date{
                            font-size: 30px;
                            height: 30px;
                            width: 30px;
                            padding: 10px;
                            background-color: white;
                            color: black;
                            margin: 0 10px;
                        }
                    }
            }
            .icon{
                li{
                    display: flex;
                    margin: 10px 0;
                    p{
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}