@use "sass:math";

$speed: math.div(1s, 100px); // Speed calculation: 1s per 100px

@mixin move-vertical($top-start, $top-end) {
  position: absolute;
  top: $top-start;
  transition: top math.div(($top-end - $top-start), 1px) * $speed;

  &:hover {
    top: $top-end;
  }
}

.vertical-slider {
  height: 100px;
  width: 100px;
  background-color: lightcoral;
  @include move-vertical(20px, 200px);
}
